<footer>
	<p>
		Challenge by <a
			href='https://www.frontendmentor.io?ref=challenge'
			target='_blank'>Frontend Mentor</a
		>. Coded by <a href='https://github.com/fdmarti' target='_blank'>Federico</a
		>.
	</p>
</footer>
<style>
	footer {
		position: fixed;
		bottom: 0;
		padding: 5px 0;
		background-color: #fff;
		width: 100%;
	}

	footer a {
		text-decoration: none;
		color: #674baf;
	}

	p {
		margin: 0;
		padding: 0;
		margin-left: 15px;
        font-size: 14px;
	}
</style>
